extends layout

block content
  .jumbotron
    .container
      h1 Trabalho de AWS
      p Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
        
  .container
    .row
      .col-md-4
        h2 About us
        p Essa tela faz parte do trabalho de CLOUD ARCHITECTURE & DEVOPS
        a.btn.btn-default(href="#") View Details
          
      .col-md-4
        h2 Contact Us
        p  344776 - Luiz Maffeis Neto
        p  344765 - Agostinho José Barrios Schlindwein
        p  344944 - Wesley Batista de Queiroz
        p  344783 - Vinicius Ternes Arrial
        p  345170 - Daniela Iara da Rocha

        a.btn.btn-default(href="#") View Details
          
      .col-md-4
        h2 Services
        p Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        a.btn.btn-default(href="#") View Details
      
